@import "tailwindcss";

@layer utilities {
  .text-color1 {
    color: #a594f9;
  }
  .text-color2 {
    color: #f5efff;
  }
  .nav-color1 {
    color: #a594f9;
  }
  .nav-color1:hover {
    color: #aaffe0;
  }
  .nav-color2 {
    color: #f5efff;
  }
  .nav-color2:hover {
    color: #aaffe0;
  }
  .text-shadow {
    text-shadow: 0 0 6px #e3e3e3;
  }
  .text-shadow-subtle {
    text-shadow: 0 0 4px #8e8e8e;
  }
  .text-shadow-head {
    text-shadow: 0 0 4px #a8a8a8, 0 0 8px #a8a8a8;
  }
}
